@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121718;
  --foreground: #fefefe;
  --primary-color: #fefefe;
  --secondary-color: #bbff00;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fefefe;
    --foreground: #121718;
    --primary-color: #121718;
    --secondary-color: #16a085;
  }
}

body {
  color: var(--primary-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  @apply transition-all duration-100 ease-in;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

section {
  width: 100%;
}